.stat-grid {
  text-align: center;
  // padding: 5px 10px 0 5px;

paddingpadding

  .stat-header {
    font-weight: bold;

    ion-text {
      position: relative;
    }

    ion-icon {
      position: absolute;
      right: -20px;
    }
  }

  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;

    .spare-rates-content {
      text-align: center;

      .stat-text {
        position: relative;
        margin: 0 auto;
        width: 80px;
        display: block;
      }

      .arrow-icon {
        position: absolute;
        right: -15px;
        top: 1px;
      }
    }
  }
}
