<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title> Stats </ion-title>
    <ion-buttons slot="end" class="action-sheet">
      <ion-button fill="clear" (click)="openFilterModal()" [disabled]="(gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        <ion-text class="filter-indicator" *ngIf="gameFilterService.activeFilterCount() !== 0">{{gameFilterService.activeFilterCount()}}</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      *ngIf="!((gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading) || gameFilterService.filteredGames().length <= 0)"
      [value]="selectedSegment"
      (ionChange)="onSegmentChanged($event)">
      <ion-segment-button *ngFor="let segment of segments" [value]="segment">
        <ion-label class="segment-label">{{segment}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Show this message if there are no game history items and it's not loading -->
  <ng-container
    *ngIf="(gameFilterService.filteredGames().length <= 0 || gameFilterService.filteredGames().length <= 0) && !loadingService.isLoading(); else content">
    <ion-text class="no-game-text">
      {{ gameFilterService.filteredGames().length <= 0 && !loadingService.isLoading ? 'Start playing a few games to see your stats here!' : 'No stats
      for this filter!' }}
    </ion-text>
  </ng-container>
  <!-- Main content to display when there is game history or when loading is done -->
  <ng-template #content>
    <swiper-container
      [spaceBetween]="8"
      [modules]="swiperModules"
      #swiper
      [slidesPerView]="1"
      (swiperslidechange)="onSlideChanged()"
      [autoHeight]="true"
      style="background: var(--ion-item-background)">
      <!-- Overall Segment -->
      <swiper-slide>
        <div class="tab">
          <app-stat-display [statDefinitions]="overallStatDefinitions" [currentStats]="statsService.currentStats()" [prevStats]="prevStats">
          </app-stat-display>
          <app-stat-display [statDefinitions]="seriesStatDefinitions" [currentStats]="statsService.currentStats()" [prevStats]="prevStats">
          </app-stat-display>
          <div class="stat-container">
            <canvas #scoreChart class="score" style="width: 300px; height: 400px"></canvas>
          </div>
        </div>
      </swiper-slide>

      <!-- Spares Segment -->
      <swiper-slide>
        <div class="tab">
          <app-spare-display [stats]="statsService.currentStats()" [prevStats]="prevStats" id="spareStats"></app-spare-display>
          <div class="stat-container">
            <canvas #pinChart class="spares" style="width: 300px; height: 300px"></canvas>
          </div>
        </div>
      </swiper-slide>

      <!-- Throws Segment -->
      <swiper-slide>
        <div class="tab">
          <app-stat-display [statDefinitions]="throwStatDefinitions" [currentStats]="statsService.currentStats()" [prevStats]="prevStats">
          </app-stat-display>
          <div class="stat-container">
            <canvas #throwChart class="throws" style="width: 300px; height: 300px"></canvas>
          </div>
        </div>
      </swiper-slide>

      <!-- Session Segment -->
      <swiper-slide>
        <ion-item class="date-picker" lines="none">
          <ion-select
            label="Session date"
            toggleIcon="calendar-number-outline"
            expandedIcon="calendar-number"
            [value]="selectedDate()"
            (ionChange)="_selectedDate.set($event.detail.value)">
            <ion-select-option *ngFor="let unixDate of uniqueSortedDates()" [value]="unixDate">
              {{ (unixDate | date:'dd.MM.yyyy') }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <swiper-container [nested]="true" [modules]="swiperModules" #swipernest>
          <swiper-slide>
            <div class="tab">
              <app-stat-display [statDefinitions]="sessionStatDefinitions" [currentStats]="sessionStats()" [prevStats]="statsService.currentStats()">
              </app-stat-display>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="tab">
              <app-spare-display [prevStats]="statsService.currentStats()" [stats]="sessionStats()" [id]="'sessionSpareStats'"></app-spare-display>
            </div>
          </swiper-slide>
        </swiper-container>
      </swiper-slide>
    </swiper-container>
  </ng-template>
</ion-content>
