<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Ball</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchBalls($event)" placeholder="Search for a ball" debounce="300"
      showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" role="feed">
  <ion-list>
    @for (ball of displayedBalls; track ball.ball_id) {
    <ion-item role="article">
      <ion-avatar slot="start">
        <ion-img [src]="storageService.url + ball.thumbnail_image"></ion-img>
      </ion-avatar>
      <ion-checkbox [value]="ball" [checked]="isChecked(ball)" (ionChange)="checkboxChange($event)">
        <ion-label>
          <p>{{ ball.brand_name }} ({{ ball.release_date }})</p>
          <h2>{{ ball.ball_name }}</h2>
        </ion-label>
      </ion-checkbox>
    </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll threshold="90%" (ionInfinite)="loadData($event)" #infiniteScroll
    >
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more balls...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>