<svg #svg></svg>

<ion-grid class="ion-padding-horizontal">
  <ion-row
    ><ion-col><ion-label>Forward Oil</ion-label></ion-col></ion-row
  >
  <ion-row class="header-row">
    <ion-col size="2">Boards</ion-col>
    <ion-col size="1.4">Load</ion-col>
    <ion-col size="1.4">Mics</ion-col>
    <ion-col size="1.6">Speed</ion-col>
    <ion-col size="1.6">Buffer</ion-col>
    <ion-col size="1.5">Tot. Oil</ion-col>
    <ion-col size="auto">Dist.</ion-col>
  </ion-row>

  @for (data of pattern().forwards_data; track $index) {
    <ion-row class="data-row">
      <ion-col size="2">{{ data.start }} - {{ data.stop }}</ion-col>
      <ion-col size="1.4">{{ data.load }}</ion-col>
      <ion-col size="1.4">{{ data.mics }}</ion-col>
      <ion-col size="1.6">{{ data.speed }}</ion-col>
      <ion-col size="1.6">{{ data.buf }}</ion-col>
      <ion-col size="1.5">{{ data.total_oil }}</ion-col>
      <ion-col size="auto">{{ data.distance_start }} - {{ data.distance_end }}</ion-col>
    </ion-row>
  }
</ion-grid>

<ion-grid class="ion-padding-horizontal">
  <ion-row
    ><ion-col><ion-label>Reverse Oil</ion-label></ion-col></ion-row
  >
  <ion-row class="header-row">
    <ion-col size="2">Boards</ion-col>
    <ion-col size="1.4">Load</ion-col>
    <ion-col size="1.4">Mics</ion-col>
    <ion-col size="1.6">Speed</ion-col>
    <ion-col size="1.6">Buffer</ion-col>
    <ion-col size="1.5">Tot. Oil</ion-col>
    <ion-col size="auto">Dist.</ion-col>
  </ion-row>

  @for (data of pattern().backwards_data; track $index) {
    <ion-row class="data-row">
      <ion-col size="2">{{ data.start }} - {{ data.stop }}</ion-col>
      <ion-col size="1.4">{{ data.load }}</ion-col>
      <ion-col size="1.4">{{ data.mics }}</ion-col>
      <ion-col size="1.6">{{ data.speed }}</ion-col>
      <ion-col size="1.6">{{ data.buf }}</ion-col>
      <ion-col size="1.5">{{ data.total_oil }}</ion-col>
      <ion-col size="auto">{{ data.distance_start }} - {{ data.distance_end }}</ion-col>
    </ion-row>
  }
</ion-grid>
