<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Select Pattern</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchPatterns($event)" placeholder="Search for a pattern" debounce="300" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" role="feed">
  <ion-radio-group (ionChange)="radioGroupChange($event)" [value]="prevSelectedPattern()" allowEmptySelection="true">
    @for (pattern of displayedPatterns; track pattern.title) {
      <ion-item>
        <ion-radio [value]="pattern.title" justify="space-between">{{ pattern.title }}</ion-radio>
      </ion-item>
    }
  </ion-radio-group>
  <ion-infinite-scroll threshold="90%" (ionInfinite)="loadData($event)" #infiniteScroll>
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more patterns..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
