<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Select Pattern</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchPatterns($event)" placeholder="Search for a pattern" debounce="300" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" role="feed">
  @if (!loadingService.isLoading()) {
    <ng-container *ngIf="displayedPatterns().length <= 0 && !loadingService.isLoading(); else allPatterns">
      <ion-text class="no-game-text"> No patterns found! </ion-text>
    </ng-container>
    <ng-template #allPatterns>
      <ion-radio-group (ionChange)="radioGroupChange($event)" [value]="prevSelectedPattern()" allowEmptySelection="true">
        @for (pattern of displayedPatterns(); track pattern.title) {
          <ion-item>
            <ion-radio [value]="pattern.title" justify="space-between">{{ pattern.title }}</ion-radio>
          </ion-item>
        }
      </ion-radio-group>
      <ion-infinite-scroll threshold="90%" (ionInfinite)="loadData($event)" #infiniteScroll>
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more patterns..."> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>
  } @else {
    @for (item of [1, 2, 3, 4, 5, 6, 7, 8]; track item) {
      <ion-item>
        <ion-skeleton-text style="width: 70%"></ion-skeleton-text>
      </ion-item>
    }
  }
</ion-content>
