.action-sheet {
  margin-right: 8px;

  ion-button {
    background: none;
    --background-activated: none;
    position: relative;
  }
}

.card-content {
  color: white;

  .header {
    font-size: 1.125rem;
    font-weight: 600;
  }
}

ion-thumbnail {
  --size: 80px;
  margin-top: 8px;
  margin-bottom: 8px;
}