<div class="filter-info">
  <ion-chip *ngIf="isFilterActive('weight')"> Weight: {{ getFilterValue("weight") }}lbs </ion-chip>

  <ion-chip *ngIf="isFilterActive('coreType')"> Core Type: {{ getFilterValue("coreType") }} </ion-chip>

  <ion-chip *ngIf="isFilterActive('availability')"> Availability: {{ getFilterValue("availability") ? "Available" : "Discontinued" }} </ion-chip>

  <ion-chip *ngIf="isFilterActive('market')"> Market: {{ getFilterValue("market") }} </ion-chip>

  <ion-chip *ngIf="isFilterActive('inArsenal')"> Arsenal only </ion-chip>

  <ion-chip *ngIf="isFilterActive('brands') && getFilterValue('brands').length > 0"> Brands: {{ getFilterValue("brands").join(", ") }} </ion-chip>

  <ion-chip *ngIf="isFilterActive('coverstocks') && getFilterValue('coverstocks').length > 0">
    Coverstocks: {{ getFilterValue("coverstocks").join(", ") }}
  </ion-chip>

  <ion-chip *ngIf="isFilterActive('coverstockTypes')"> Coverstock Types: {{ getFilterValue("coverstockTypes") }} </ion-chip>

  <ion-chip *ngIf="isFilterActive('cores') && getFilterValue('cores').length > 0"> Cores: {{ getFilterValue("cores").join(", ") }} </ion-chip>

  <!-- <ion-chip *ngIf="isFilterActive('releaseDate')">
  Release Date: {{ getFilterValue('releaseDate') | date }}
</ion-chip> -->

  <ion-chip *ngIf="isFilterActive('minRg') || isFilterActive('maxRg')"> RG: {{ getFilterValue("minRg") }} - {{ getFilterValue("maxRg") }} </ion-chip>

  <ion-chip *ngIf="isFilterActive('minDiff') || isFilterActive('maxDiff')">
    Diff: {{ getFilterValue("minDiff") }} - {{ getFilterValue("maxDiff") }}
  </ion-chip>
</div>
