ion-badge {
  --padding-end: 6px;
  --padding-start: 6px;
  --padding-top: 4px;
  --padding-bottom: 4px;

  font-size: 1rem;
  vertical-align: sub;
  position: absolute;
  margin-left: 5px;
}

ion-grid {
  background-color: var(--ion-color-quartiary);

  --ion-grid-padding: 0;

  border-radius: 7px;
}

.action-sheet {
  margin-right: 8px;

  ion-button {
    background: none;
    --background-activated: none;
    position: relative;
  }
}

ion-input {
  text-align: center;
  background-color: var(--ion-color-secondary);
  border-radius: 7px;
  min-height: 35px !important;
  height: 35px;
}

ion-row {
  padding: 5px 0;

  &:first-child {
    padding: 0;
  }

  &:last-child {
    padding: 2px;
  }
}

.filter-indicator {
  position: absolute;
  bottom: 12px;
  left: 20px;
  color: black;
  background: var(--ion-color-primary);
  padding: 1px;
  border-radius: 7px;
  z-index: 15555;
  font-size: 14px;
}