<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button type="button" class="action-sheet" slot="start" fill="clear" (click)="handleImageUpload()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <input type="file" id="upload" class="ion-hide" accept="image/*" />
    <ion-title> Add Game </ion-title>
    <ion-buttons slot="end">
      <ion-button class="action-sheet" (click)="presentActionSheet()" fill="clear">
        {{ selectedMode }}
        <ion-icon *ngIf="!sheetOpen" name="chevron-down" class="chevron"></ion-icon>
        <ion-icon *ngIf="sheetOpen" name="chevron-up" class="chevron"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  @if (selectedMode !== "Single") {
    <ion-toolbar>
      <ion-segment [value]="selectedSegment" [scrollable]="true">
        <ion-segment-button *ngFor="let segment of segments" [value]="segment" [contentId]="segment">
          <ion-label class="segment-label">{{ segment }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  }
</ion-header>

<ion-alert [isOpen]="isAlertOpen" header="Error" message="You didn't fill all inputs" [buttons]="['Dismiss']" (didDismiss)="isAlertOpen = false">
</ion-alert>

<div
  *ngIf="is300"
  style="
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  ">
  <lottie-player slot="end" autoplay loop src="https://lottie.host/7b3bdd2a-221b-463e-9f59-d95964639389/duMcnXopMJ.json"></lottie-player>
</div>

<ng-container *ngFor="let mode of seriesMode; let i = index">
  <ion-content [fullscreen]="true" *ngIf="mode">
    <ion-segment-view>
      <ion-segment-content *ngFor="let trackIndex of trackIndexes[i]; let j = index" [id]="segments[j]">
        <app-game-grid
          (maxScoreChanged)="onMaxScoreChanged($event, trackIndex)"
          (totalScoreChanged)="onTotalScoreChange($event, trackIndex)"
          (leagueChanged)="onLeagueChange($event)"
          (patternChanged)="onPatternChange($event)"
          (isPracticeChanged)="onIsPracticeChange($event)"
          [patternId]="j.toString()"
          [ballSelectorId]="'modal-ball-selector' + j"></app-game-grid>
        <ion-grid *ngIf="i !== 0">
          <ion-row class="button-row">
            <ion-col>
              <ion-button (click)="clearFrames(j)">Clear Score</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-segment-content>
    </ion-segment-view>

    <ion-grid *ngIf="i === 0">
      <ion-row class="button-row">
        <ion-col>
          <ion-button (click)="clearFrames()">Clear Score</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="calculateScore()">Save Score</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="i !== 0">
      <ion-row>
        <ion-col class="middle count">Score Series: {{ getSeriesCurrentScore(i) }}</ion-col>
        <ion-col class="middle count">Max Series: {{ getSeriesMaxScore(i) }}</ion-col>
      </ion-row>
      <ion-row class="button-row">
        <ion-col>
          <ion-button (click)="clearFrames()">Clear Scores</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="calculateScore()">Save Series</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Your game</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true" [disabled]="!isGameValid(modalGrid.game())">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <h2 class="ion-text-center">Edit wrong game data</h2>
      <app-game-grid
        #modalGrid
        [ballSelectorId]="gameData.gameId + '-modal-ball-selector'"
        (leagueChanged)="onLeagueChange($event)"
        (isPracticeChanged)="onIsPracticeChange($event)"
        [game]="gameData"
        [patternId]="gameData.gameId"></app-game-grid>
    </ion-content>
  </ng-template>
</ion-modal>
