ion-buttons {
  padding: 4px;

  .action-sheet {
    ion-button {
      background: none;

      --background-activated: none;
    }

    .chevron {
      margin-left: 5px;
      font-size: 15px !important;
    }
  }
}

ion-grid {
  background-color: var(--ion-color-quartiary);
  --ion-grid-padding: 0;
  border-radius: 7px;
  margin: 5px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  text-align: center;

  ion-button {
    --background: var(--ion-color-dark);
    color: white;
  }
}