<div class="grid-container">
  <ion-grid fixed="true" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let frameIndex = index">
    <ion-row>
      <ion-col class="middle frame">{{ i }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="input-col" *ngIf="i !== 10"></ion-col>
      <ion-col class="input-col">
        <ion-input
          type="text"
          clearOnEdit="true"
          inputmode="numeric"
          autocapitalize="on"
          debounce="500"
          [value]="getFrameValue(frameIndex, 0)"
          (ionInput)="simulateScore($event, frameIndex, 0)"
          (ionFocus)="handleInputFocus(frameIndex, 0)"
          (ionBlur)="handleInputBlur()">
        </ion-input>
      </ion-col>
      <ion-col class="input-col" *ngIf="i !== 10">
        <ion-input
          type="text"
          clearOnEdit="true"
          inputmode="numeric"
          autocapitalize="on"
          debounce="500"
          [disabled]="game().frames[frameIndex][0] === 10 && i !== 10"
          [value]="getFrameValue(frameIndex, 1)"
          (ionInput)="simulateScore($event, frameIndex, 1)"
          (ionFocus)="handleInputFocus(frameIndex, 1)"
          (ionBlur)="handleInputBlur()">
        </ion-input>
      </ion-col>
      <ion-col class="input-col" *ngIf="i === 10">
        <ion-input
          type="text"
          clearOnEdit="true"
          inputmode="numeric"
          autocapitalize="on"
          debounce="500"
          [disabled]="game().frames[frameIndex][0] === 10 && i !== 10"
          [value]="getFrameValue(frameIndex, 1)"
          (ionInput)="simulateScore($event, frameIndex, 1)"
          (ionFocus)="handleInputFocus(frameIndex, 1)"
          (ionBlur)="handleInputBlur()">
        </ion-input>
      </ion-col>
      <ion-col class="input-col" *ngIf="i === 10">
        <ion-input
          type="text"
          clearOnEdit="true"
          inputmode="numeric"
          autocapitalize="on"
          debounce="500"
          [value]="getFrameValue(frameIndex, 2)"
          [disabled]="game().frames[frameIndex][0] !== 10 && game().frames[frameIndex][0] + (game().frames[frameIndex][1] || 0) !== 10"
          (ionInput)="simulateScore($event, frameIndex, 2)"
          (ionFocus)="handleInputFocus(frameIndex, 2)"
          (ionBlur)="handleInputBlur()">
        </ion-input>
      </ion-col>
    </ion-row>
    <ion-row
      *ngIf="
        (game().frames[frameIndex][0] !== undefined ||
          game().frames[frameIndex][1] !== undefined ||
          (i === 10 && game().frames[frameIndex][0] !== undefined)) &&
        isNumber(game().frameScores[i - 1])
      ">
      <ion-col class="middle count">{{ game().frameScores[i - 1] }}</ion-col>
    </ion-row>
    <ion-row
      *ngIf="
        !(
          (game().frames[frameIndex][0] !== undefined ||
            game().frames[frameIndex][1] !== undefined ||
            (i === 10 && game().frames[frameIndex][0] !== undefined)) &&
          isNumber(game().frameScores[i - 1])
        )
      ">
      <ion-col class="middle count" style="color: var(--ion-color-quartiary)">0</ion-col>
    </ion-row>
  </ion-grid>

  <div class="score-toolbar" *ngIf="showMetadata()" [class.show]="showButtonToolbar" [ngStyle]="{ bottom: keyboardOffset + 'px' }">
    <ion-button (click)="selectSpecialScore('X')" (mousedown)="$event.preventDefault()" [disabled]="isStrikeButtonDisabled()"> X </ion-button>
    <ion-button (click)="selectSpecialScore('/')" (mousedown)="$event.preventDefault()" [disabled]="isSpareButtonDisabled()"> / </ion-button>
  </div>
</div>

@if (showMetadata()) {
  <div style="margin: 0 5px">
    <ion-list lines="full" style="border-radius: 7px">
      <ion-item>
        <ion-checkbox [(ngModel)]="game().isPractice" name="isPractice" #checkbox (ionChange)="isPracticeChanged.emit(game().isPractice)"
          >Practice</ion-checkbox
        >
      </ion-item>
      <!-- TODO make this reset on save-->
      <app-league-selector [isAddPage]="true" (leagueChanged)="onLeagueChanged($event)" #leagueSelector></app-league-selector>
      <ion-item [id]="patternId()" button>
        <ion-label>Patterns</ion-label>
        <span class="ion-text-right">{{ game().patterns.join(", ") || "None" }}</span>
      </ion-item>
      <ion-modal [presentingElement]="presentingElement" [trigger]="patternId()">
        <ng-template>
          <app-pattern-typeahead
            [patterns]="storageService.allPatterns()"
            [prevSelectedPatterns]="game().patterns"
            (selectedPatternsChange)="onPatternChanged($event)"></app-pattern-typeahead>
        </ng-template>
      </ion-modal>
      <ion-item>
        <ion-select [(ngModel)]="game().balls" multiple="true" name="balls" placeholder="None" label="Balls">
          <ion-select-option *ngFor="let ball of storageService.arsenal()" [value]="ball.ball_name">
            {{ ball.ball_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea
          label="Note"
          type="text"
          [(ngModel)]="game().note"
          name="note"
          [autoGrow]="true"
          placeholder="today knee pain, lanes dry af, i fucking suck today"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
}
