ion-input {
  text-align: center;
  background-color: var(--ion-color-secondary);
  border-radius: 3px;
  min-height: 35px !important;
  height: 35px;
}

.input-col {
  --ion-grid-column-padding: 0;

  &:not(:nth-child(2)) {
    margin: 0 3px !important;
  }

  &.current-throw {
    ion-input {
      border: 2px solid var(--ion-color-primary);
      box-shadow: 0 0 8px rgba(var(--ion-color-primary-rgb), 0.5);
    }
  }
}

ion-grid {
  background-color: var(--ion-color-quartiary);

  --ion-grid-padding: 0;

  border-radius: 3px;
}

ion-row {
  padding: 5px 0;

  &:first-child {
    padding: 0;
  }

  &:last-child {
    padding: 2px;
  }
}