ion-input {
  text-align: center;
  background-color: var(--ion-color-secondary);
  border-radius: 3px;
  min-height: 35px !important;
  height: 35px;
}

.input-col {
  --ion-grid-column-padding: 0;

  &:not(:nth-child(2)) {
    margin: 0 3px !important;
  }
}

ion-grid {
  background-color: var(--ion-color-quartiary);

  --ion-grid-padding: 0;

  border-radius: 3px;
}

ion-row {
  padding: 5px 0;

  &:first-child {
    padding: 0;
  }

  &:last-child {
    padding: 2px;
  }
}

.pin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  min-height: 0;
  height: 70px;
  --background: rgb(226, 226, 226);
  --background-activated: var(--ion-color-quartiary);
    --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  color: black;
  font-size: 28px;
  --border-radius: 100%;
}

.pin.active {
  --background: var(--ion-color-quartiary);
  color: white;
  font-weight: bold;
}

.reverse-bowling-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.pin-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pin-names {
  margin-top: 32px;
  text-align: center;
}