<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="resetCoverstockSelection()"> Reset </ion-button>
    </ion-buttons>
    <ion-title>Select Coverstocks</ion-title>
    <ion-buttons slot="end" strong="true" (click)="saveCoverstockSelection()">
      <ion-button>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      appSearchBlur
      (ionInput)="searchCoverstocks($event)"
      placeholder="Search for coverstocks"
      debounce="300"
      showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<!-- TODO virtual scroll because prefetched data-->

<ion-content [fullscreen]="true" role="feed">
  <ion-list>
    @for (coverstock of displayedCoverstocks(); track coverstock.coverstock_name) {
      <ion-item role="article">
        <!-- <ion-avatar slot="start">
        <ion-img [src]="storageService.url + ball.thumbnail_image"></ion-img>
      </ion-avatar> -->
        <ion-checkbox [value]="coverstock" [checked]="isChecked(coverstock)" (ionChange)="checkboxChange($event)">
          <ion-label>
            <p>{{ coverstock.brand }}</p>
            <h2>{{ coverstock.coverstock_name }}</h2>
          </ion-label>
        </ion-checkbox>
      </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll threshold="90%" (ionInfinite)="loadData($event)" #infiniteScroll>
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more coverstocks..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
