@if (isSelectionMode) {
  <ion-item>
    <ion-select label="Select Arsenal" [(ngModel)]="selectedArsenal" (ionChange)="arsenalChanged.emit(this.selectedArsenal)">
      <ion-select-option *ngFor="let arsenal of arsenals()" [value]="arsenal">{{ arsenal }}</ion-select-option>
    </ion-select>
  </ion-item>
} @else {
  <ion-item>
    <ion-icon name="list" slot="start"></ion-icon>
    <ion-select
      label="Current Arsenal"
      (ionChange)="onArsenalChange($event)"
      interface="action-sheet"
      placeholder="Select Arsenal"
      [(ngModel)]="selectedArsenal">
      <ion-select-option *ngFor="let arsenal of arsenals()" [value]="arsenal">{{ arsenal }}</ion-select-option>
    </ion-select>
  </ion-item>
}

