/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import url("@ionic/angular/css/core.css");

/* Basic CSS for apps built with Ionic */
@import url("@ionic/angular/css/normalize.css");
@import url("@ionic/angular/css/structure.css");
@import url("@ionic/angular/css/typography.css");
@import url("@ionic/angular/css/display.css");

/* Optional CSS utils that can be commented out */
@import url("@ionic/angular/css/padding.css");
@import url("@ionic/angular/css/float-elements.css");
@import url("@ionic/angular/css/text-alignment.css");
@import url("@ionic/angular/css/text-transformation.css");
@import url("@ionic/angular/css/flex-utils.css");

/* Custom styles */
@import url("./app/core/styles/high-score-alert.scss");

ion-segment-view {
  height: fit-content;
}
// Header background bleed hackaround
// body {
//   background: #0d0e0d;
    
// }
ion-content{
  --offset-top: 200px !important;
}
.stat-container {
  border: 1px solid #2b2828;
  margin: 0 16px 12px;
  border-radius: 7px;
  background-color: #141414;
  padding: 4px 0;

  canvas {
    touch-action: pinch-zoom pan-y;
  }
}


canvas {
  margin: 0 8px;
}

.tab {
  padding: 8px 0 16px;
}

ion-input {
  --highlight-color-focused: color-contrast(var(--ion-input-background) vs var(--ion-color-primary),
      var(--ion-color-primary-contrast)) !important;
}

.no-game-text {
  width: 60%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.alert-input {
  background-color: white !important;
  color: #080f08 !important;
}

ion-header {
  // background-color: #080f08;

  ion-toolbar:first-child {
    height: 50px !important;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
  }

  ion-searchbar {
    padding-bottom: 0 !important;
  }

  ion-icon {
    font-size: 1.5rem !important;
  }

  ion-title {
    font-size: 1.25rem;
    color: white;
  }
}

ion-app {
  // letter-spacing: .38px;
  font-size: 1.1rem;
}

.tooltip {
  padding: 8px;
}

.tooltip-popover {
  --min-width: 200px;
  --max-width: fit-content;
}

.blue .tooltip {
  color: black;
}

.green,
.red,
.gray,
.lila {
  .tooltip {
    color: white;
  }
}

.invalid-input {
  border: 1px solid red !important;
}

ion-item {
  color: white;
}

.diff-popover {
  --background: #020a06;

  text-align: center;

  --min-width: 110px;
  --max-width: fit-content;

  &::part(content) {
    padding: 4px;
    background: #252525;
  }

  &::part(arrow) {
    &::after {
      background: #252525;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  gap: 6px;
  margin: 5px 5px 10px;
  max-width: 100%;
  justify-items: center;

  ion-input:not(.frame-scores) {
    color: var(--ion-input-color);
    text-align: center;
    background-color: var(--ion-color-secondary);
    border-radius: 5px;
    min-height: 35px !important;
    height: 35px;
  }

  ion-grid {
    background-color: var(--ion-color-quartiary);
    --ion-grid-padding: 0;
    border-radius: 7px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  ion-row {
    padding: 5px 0;

    &:first-child {
      padding: 0;
    }

    &:last-child {
      padding: 2px;
    }
  }

  .input-col {
    --ion-grid-column-padding: 0;

    .is-split {
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 25px;
        border-radius: 50%;
        background-color: #ff000077;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }

    &:not(:nth-child(2)) {
      margin: 0 3px !important;
    }

    &.current-throw {
      ion-input {
        border: 2px solid var(--ion-color-primary);
        box-shadow: 0 0 8px rgba(var(--ion-color-primary-rgb), 0.5);
        display: flex;
        align-items: center;
      }
    }
  }
}

.middle {
  text-align: center;

  &.frame {
    background-color: var(--ion-color-dark);
    border-radius: 7px 7px 0 0;
  }

  &.count {
    font-weight: 500;

    --ion-grid-column-padding: 1px;
  }
}

.name-input {
  background-color: white !important;
  color: black;
}

.sc-ion-select-popover-ios {
  .blue-option {
    ion-radio {
      color: #427d9d;
    }
  }

  .red-option {
    ion-radio {
      color: #a91d3a;
    }
  }

  .gray-option {
    ion-radio {
      color: #7d7c7c;
    }
  }

  .lila-option {
    ion-radio {
      color: #31304d;
    }
  }

  .green-option {
    ion-radio {
      color: #789461;
    }
  }
}

.commit-message {
  text-align: left;

  .load-text {
    font-size: larger;
    font-weight: 500;
  }
}

.alert-header-white .alert-title {
  color: white !important;
}

ion-button {
  --background-activated: var(--ion-color-dark-rgb);
  --background-hover: none;
  --background-focused: none;
}

ion-content::part(scroll) {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.segment-label {
  font-size: clamp(0.875rem, 4vw, 1.063rem);
}

ion-segment {
  --background: var(--ion-color-dark);
  --background: #252525;
}