<ion-header>
  <ion-toolbar>
    <ion-title>Add Event</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="medium" (click)="onCancel()"> Cancel </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" [disabled]="!isFormValid" (click)="onSave()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="eventForm">
    <ion-item>
      <ion-input formControlName="name" placeholder="Enter event name" clearInput="true" label="Event Name *"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-select formControlName="type" placeholder="Select event type" label="Event Type *">
        <ion-select-option value="tournament">Tournament</ion-select-option>
        <ion-select-option value="practice">Practice</ion-select-option>
        <ion-select-option value="league">League</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-checkbox formControlName="isAllDay" (ionChange)="onAllDayChange($event)">All Day</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Starts *</ion-label>
      <ion-datetime-button datetime="starts"></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-label>Ends *</ion-label>
      <ion-datetime-button datetime="ends"></ion-datetime-button>
    </ion-item>

    <ion-item>
      <ion-input formControlName="location" placeholder="Enter location" clearInput="true" label="Location (Optional)"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="description" placeholder="Enter event description" rows="3" label="Description (Optional)"> </ion-textarea>
    </ion-item>
  </form>
</ion-content>

<!-- DateTime Picker Modal -->
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="starts"
      [value]="eventForm.get('starts')?.value"
      [presentation]="isAllDay ? 'date' : 'date-time'"
      [showDefaultButtons]="true"
      (ionChange)="onStartsChange($event)">
    </ion-datetime>
  </ng-template>
</ion-modal>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="ends"
      [value]="eventForm.get('ends')?.value"
      [presentation]="isAllDay ? 'date' : 'date-time'"
      [showDefaultButtons]="true"
      (ionChange)="onEndsChange($event)">
    </ion-datetime>
  </ng-template>
</ion-modal>
