@if (isFilterActive("excludePractice")) {
  <ion-chip>Exclude Practice: {{ getFilterValue("excludePractice") }}</ion-chip>
}
@if (isFilterActive("minScore") || isFilterActive("maxScore")) {
  <ion-chip>Score: {{ getFilterValue("minScore") }} - {{ getFilterValue("maxScore") }}</ion-chip>
}
@if (isFilterActive("isClean")) {
  <ion-chip>Only Clean: {{ getFilterValue("isClean") }}</ion-chip>
}
@if (isFilterActive("isPerfect")) {
  <ion-chip>Only Perfect: {{ getFilterValue("isPerfect") }}</ion-chip>
}
@if (isFilterActive("leagues")) {
  <ion-chip>Leagues: {{ getFilterValue("leagues").join(", ") }}</ion-chip>
}
@if (isFilterActive("balls")) {
  <ion-chip>Balls: {{ getFilterValue("balls").join(", ") }}</ion-chip>
}
@if (isFilterActive("timeRange")) {
  <ion-chip>Time Range: {{ getFilterValue("startDate") | date }} - {{ getFilterValue("endDate") | date }}</ion-chip>
}
