<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ball Library</ion-title>
    <ion-buttons slot="start">
      <ion-button [href]="url">
        <div class="powered-by">powered by</div>
        <img [src]="url + '/sites/default/files/logo/bowwwl-logo.svg'" alt="bowwwl" title="bowwwl.com" style="height: 1.5rem" />
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" class="action-sheet">
      <ion-button fill="clear" (click)="openFilterModal()">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        <ion-text class="filter-indicator" *ngIf="activeFilterCount !== 0">{{activeFilterCount}}</ion-text>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="searchBalls($event)"
      placeholder="Search for a ball"
      showCancelButton="focus"
      debounce="300"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="(filteredBalls.length <= 0) && !loadingService.isLoading(); else content">
    <ion-text class="no-game-text"> No balls found. </ion-text>
  </ng-container>
  <ng-template #content>
    @for (ball of filteredBalls; track ball.ball_id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ ball.ball_name }}</ion-card-title>
        <ion-card-subtitle>
          {{ball.brand_name}} ({{ball.release_date}})
          <ion-icon *ngIf="ball.us_int === 'Overseas'" name="globe-outline" style="vertical-align: text-top"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="url + ball.thumbnail_image" style="height: 15vh"></ion-img>
        <div class="ball-info">
          <section>
            <h2 class="title">Core:</h2>
            <p class="info">{{ ball.core_name }}</p>
            <p class="info">Diff: {{ ball.core_diff }}</p>
            <p class="info" *ngIf="ball.core_int_diff">Int. Diff: {{ ball.core_int_diff }}</p>
            <p class="info">RG: {{ ball.core_rg }}</p>
            <p class="info">{{ ball.core_type }}</p>
          </section>
          <section style="text-align: right">
            <h2 class="title">Coverstock:</h2>
            <p class="info">{{ ball.coverstock_type }}</p>
            <p class="info">{{ ball.coverstock_name }}</p>
            <p class="info">{{ ball.factory_finish }}</p>
          </section>
        </div>
      </ion-card-content>
      <ion-button *ngIf="isInArsenal(ball)" style="float: right" fill="clear" (click)="removeFromArsenal(ball)"> Remove from arsenal </ion-button>
      <ion-button *ngIf="!isInArsenal(ball)" style="float: right" fill="clear" (click)="saveBallToArsenal(ball)"> Add to arsenal </ion-button>
    </ion-card>
    }
    <!-- Infinite Scroll -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadBalls($event)" *ngIf="hasMoreData">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more balls..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
</ion-content>
